
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4, #fad0c4, #fbc2eb);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;   /* full screen height */
  margin: 0;
}

form {
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  text-align: center;
}

h2 {
  color: #007BFF;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #333;
}

input {
  width: 90%;
  padding: 10px;
  margin-top: 8px;
  border: 2px solid #007BFF;
  border-radius: 6px;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #ff5722;
  box-shadow: 0 0 8px rgba(255,87,34,0.6);
}

button {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  background: linear-gradient(90deg, #007BFF, #00C6FF);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: linear-gradient(90deg, #ff5722, #ff9800);
}

.error {
  color: red;
  font-size: 13px;
  margin-top: 5px;
  display: block;
}

